[submodule "pa1/template"]
	path = pa1/template
	url = https://github.com/TBSILearningFromDataFall2020/PA1.git
[submodule "pa2/template"]
	path = pa2/template
	url = https://github.com/TBSILearningFromDataFall2020/PA2
